In [ ]:
!python -V

Python 3.6.9

**Execute Python Syntax**

In [ ]:
#Python syntax can be executed by writing directly in the Command Line
print("Hello, World!")

Hello, World!

**Python Indentation**

In [ ]:
#Indentation refers to the spaces at the beginning of a code line.
#Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.
#Python uses indentation to indicate a block of code.
if(5>2):
  print('Five is greater than two!')

Five is greater than two!

**Python Variables**

In [ ]:
# variables are created when you assign a value to it
x = 5
y = "Hello, World!"
print(x)
print(y)

5
Hello, World!

**Comments**

In [ ]:
#Python has commenting capability for the purpose of in-code documentation.
#Comments start with a #, and Python will render the rest of the line as a comment:
#This is a comment.
print("Hello, World!")

#Comments can be used to explain Python code.Comments can be used to make the code more readable.Comments can be used to prevent execution when testing code.

Hello, World!

**Variables**

In [ ]:
#Variables are containers for storing data values.
#Creating Variables
#Python has no command for declaring a variable.A variable is created the moment you first assign a value to it.
x = 5
y = "John"
print(x)
print(y)

5
John

**Casting**

In [ ]:
#If you want to specify the data type of a variable, this can be done with casting.
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

**Get the Type**

In [ ]:
#get the data type of a variable with the type() function
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Case-Sensitive**

In [ ]:
#Variable names are case-sensitive.
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

**Variable Names**

In [ ]:
#A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

**Multi Words Variable Names**

In [ ]:
#Variable names with more than one word can be difficult to read.
#There are several techniques you can use to make them more readable

#Camel Case
#Each word, except the first, starts with a capital letter
myVariableName = "John"

#Pascal Case
#Each word starts with a capital letter
MyVariableName = "John"

#Snake Case
#Each word is separated by an underscore character:
my_variable_name = "John"

**Many Values to Multiple Variables**

In [ ]:
#Python allows you to assign values to multiple variables in one line
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**One Value to Multiple Variables**

In [ ]:
#you can assign the same value to multiple variables in one line
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpack a Collection**

In [ ]:
#a collection of values in a list, tuple etc. Python allows you extract the values into variables. This is called unpacking.
fruits = ["apple", "banana", "cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Output Variables**

In [ ]:
#The Python print statement is often used to output variables.
#To combine both text and a variable, Python uses the + character
x = "awesome"
print("Python is "+ x)

Python is awesome

In [ ]:
x = "Python is "
y = "awesome"
z =  x + y  #use the + character to add a variable to another variable
print(z)
#combine a string and a number, Python will give you an error

Python is awesome

**Global Variables**

In [ ]:
#Variables that are created outside of a function 
#Global variables can be used by everyone, both inside of functions and outside.


#Create a variable outside of a function, and use it inside the function
x="awesome"
def func():
  print("Python is " + x)
func()

Python is awesome

In [ ]:
#If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function.
# The global variable with the same name will remain as it was, global and with the original value.

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

In [ ]:
#when you create a variable inside a function, that variable is local, and can only be used inside that function.
#To create a global variable inside a function, you can use the global keyword.

def myfunc():
  global x
  x="Super"
myfunc()

print("Python is " + x)

Python is Super

In [ ]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

**Python Data Types**

In [ ]:
Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview

**Getting the Data Type**

In [ ]:
#You can get the data type of any object by using the type() function
x = 5
print(type(x))

<class 'int'>

**Setting the Data Type**

In [ ]:
x = "Hello World"
#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [ ]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [ ]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [ ]:
x = 1j
print(x)
print(type(x))

1j
<class 'complex'>

In [ ]:
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
x = ("apple", "banana", "cherry")
print(x)
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [ ]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [ ]:
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [ ]:
x = {"apple", "banana", "cherry"}
print(x)
print(type(x))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'banana', 'apple', 'cherry'})
<class 'frozenset'>

In [ ]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [ ]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [ ]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x7ff503aa7b88>
<class 'memoryview'>

**Python Numbers**

In [ ]:
There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
#Float:Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
#Complex:Complex numbers are written with a "j" as the imaginary part
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
#Type Conversion:You can convert from one type to another with the int(), float(), and complex() methods
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

**Random Number**

In [ ]:
#Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers
import random
print(random.randrange(1,10))

5

**Casting**

In [ ]:
#There may be times when you want to specify a type on to a variable. This can be done with casting.
Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)
float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)
str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

**Strings**

In [ ]:
Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

In [ ]:
#Assign String to a Variable
#Assigning a string to a variable is done with the variable name followed by an equal sign and the string
a = "Hello"
print(a)

Hello

In [ ]:
#Multiline Strings
#You can assign a multiline string to a variable by using three quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
#Square brackets can be used to access elements of the string.
a = "Hello, World!"
print(a[1])

e

In [ ]:
#Looping Through a String
#Since strings are arrays, we can loop through the characters in a string, with a for loop
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#String Length
#To get the length of a string, use the len() function
a = "Hello, World!"
print(len(a))

13

In [ ]:
#Check String
#To check if a certain phrase or character is present in a string, we can use the keyword in
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
#Check if NOT:To check if a certain phrase or character is NOT present in a string, we can use the keyword not in
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("Yes, 'expensive' is NOT present.")

Yes, 'expensive' is NOT present.

**Slicing Strings**

In [ ]:
#Slicing
#You can return a range of characters by using the slice syntax.
#Specify the start index and the end index, separated by a colon, to return a part of the string.
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
#Slice From the Start:By leaving out the start index, the range will start at the first character
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
#Slice To the End:By leaving out the end index, the range will go to the end
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
#Negative Indexing:Use negative indexes to start the slice from the end of the string
b = "Hello, World!"
print(b[-5:-2])

orl

**Modify Strings**

In [ ]:
#Upper Case:upper() method returns the string in upper case
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
#Lower Case:lower() method returns the string in lower case
a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
#Remove Whitespace:Whitespace is the space before and/or after the actual text, and very often you want to remove this space
#The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [ ]:
#Replace String:The replace() method replaces a string with another string
a = "Hello, World!"
print(a.replace("W","K"))

Hello, Korld!

In [ ]:
#Split String:The split() method returns a list where the text between the specified separator becomes the list items
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

**String Concatenation**

In [ ]:
#To concatenate, or combine, two strings you can use the + operator
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

**Format - Strings**

In [ ]:
#we can combine strings and numbers by using the format() method
#The format() method takes unlimited number of arguments, and are placed into the respective placeholders
#The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity,itemno,price))

I want 3 pieces of item 567 for 49.95 dollars.

In [ ]:
# index numbers {0} to be sure the arguments are placed in the correct placeholders
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

**Escape Characters**

In [ ]:
#To insert characters that are illegal in a string, use an escape character.

#An escape character is a backslash \ followed by the character you want to insert.

In [ ]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [ ]:
#	Single Quote
txt = 'It\'s alright.'
print(txt)

It's alright.

In [ ]:
#Backslash
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [ ]:
#New Line
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [ ]:
#Carriage Return
txt = "Hello\rWorld!"
print(txt)

World!

In [ ]:
#Tab
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [ ]:
#Backspace
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [ ]:
#Octal value
txt = "\110\145\154\154\157"
print(txt)

Hello

In [ ]:
#Hex value
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

**String Methods**

In [ ]:
Python has a set of built-in methods that you can use on strings.
Note: All string methods returns new values. They do not change the original string.

In [ ]:
#capitalize()	Converts the first character to upper case
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [ ]:
txt = "36 is my age."

x = txt.capitalize()

print (x)

36 is my age.

In [ ]:
#casefold()	Converts string into lower case
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [ ]:
#center()	Returns a centered string
txt = "banana"

x = txt.center(20)

print(x)

       banana

In [ ]:
#count()	Returns the number of times a specified value occurs in a string
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)#Search from position 10 to 24

print(x)

1

In [ ]:
#encode()	Returns an encoded version of the string
txt = "My name is Stle"

x = txt.encode()

print(x)

b'My name is St\xc3\xa5le'

In [ ]:
txt = "My name is Stle"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [ ]:
#endswith()	Returns true if the string ends with the specified value
txt = "Hello, welcome to my world."

x = txt.endswith(".")

print(x)

True

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.")

print(x)

True

In [ ]:
txt = "Hello, welcome to my world."

x = txt.endswith("my world.", 5, 11)#Check if position 5 to 11 ends with the phrase "my world."

print(x)

False

In [ ]:
#expandtabs()	Sets the tab size of the string
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [ ]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [ ]:
#find()	Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("e")

print(x)

1

In [ ]:
txt = "Hello, welcome to my world."

x = txt.find("e", 5, 10)#first occurrence of the letter "e" when you only search between position 5 and 10

print(x)

8

In [ ]:
txt = "Hello, welcome to my world."
#If the value is not found, the find() method returns -1, but the index() method will raise an exception

print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: ignored

In [ ]:
#upper()	Converts a string into upper case
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [ ]:
#translate()	Returns a translated string

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [ ]:
#Use a mapping table to replace "S" with "P":

txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [ ]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght" #third parameter in the mapping table describes characters that you want to remove from the string
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

In [ ]:
#title()	Converts the first character of each word to upper case
#Make the first letter in each word upper case:

txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [ ]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [ ]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

In [ ]:
#swapcase()	Swaps cases, lower case becomes upper case and vice versa
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [ ]:
#strip()	Returns a trimmed version of the string
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [ ]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [ ]:
#zfill()	Fills the string with a specified number of 0 values at the beginning
txt = "50"

x = txt.zfill(10) #Fill the string with zeros until it is 10 characters long

print(x)

0000000050

In [ ]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

In [ ]:
#startswith()	Returns true if the string starts with the specified value
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [ ]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)#Check if position 7 to 20 starts with the characters "wel"

print(x)

True

In [ ]:
#splitlines()	Splits the string at line breaks and returns a list
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [ ]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)#Split the string, but keep the line breaks

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

In [ ]:
#split()	Splits the string at the specified separator, and returns a list
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [ ]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [ ]:
#rstrip()	Returns a right trim version of the string
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [ ]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")  #Remove the trailing characters if they are commas, s, q, or w

print(x)

banana

In [ ]:
#rsplit()	Splits the string at the specified separator, and returns a list

txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [ ]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

In [ ]:
#rpartition()	Returns a tuple where the string is parted into three parts

txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [ ]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)
#If the specified value is not found, the rpartition() method returns a tuple containing: 1 - an empty string, 2 - an empty string, 3 - the whole string

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

In [ ]:
#rjust()	Returns a right justified version of the string

txt = "banana"

x = txt.rjust(20)#Return a 20 characters long, right justified version of the word "banana"
print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [ ]:
txt = "banana"

x = txt.rjust(20, "O")#Using the letter "O" as the padding character

print(x)

OOOOOOOOOOOOOObanana

In [ ]:
#rindex()	Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."

x = txt.rindex("casa")#Where in the text is the last occurrence of the string "casa"?

print(x)

12

In [ ]:
txt = "Hello, welcome to my world."

x = txt.rindex("e")#Where in the text is the last occurrence of the letter "e"

print(x)

13

In [ ]:
txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)# text is the last occurrence of the letter "e" when you only search between position 5 and 10

print(x)

8

In [ ]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))#value is not found, the rfind() method returns -1, but the rindex() method will raise an exception
print(txt.rindex("q"))

-1

ValueError: ignored

In [ ]:
#rfind()	Searches the string for a specified value and returns the last position of where it was found
txt = "Mi casa, su casa."

x = txt.rfind("casa")#text is the last occurrence of the string "casa"

print(x)

12

In [ ]:
txt = "Hello, welcome to my world."

x = txt.rfind("e")#text is the last occurrence of the letter "e"

print(x)

13

In [ ]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)#last occurrence of the letter "e" when you only search between position 5 and 10

print(x)

8

In [ ]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))#rfind() method returns -1, but the rindex() method will raise an exception
print(txt.rindex("q"))

-1

ValueError: ignored

In [ ]:
#replace()	Returns a string where a specified value is replaced with a specified value

txt = "I like bananas"

x = txt.replace("bananas", "apples")#Replace the word "bananas"

print(x)

I like apples

In [ ]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")#Replace all occurrence of the word "one"

print(x)

three three was a race horse, two two was three too.

In [ ]:
#Replace the two first occurrence of the word "one"
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

In [ ]:
#partition()	Returns a tuple where the string is parted into three parts
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [ ]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)
#If the specified value is not found, the partition() method returns a tuple containing: 1 - the whole string, 2 - an empty string, 3 - an empty string

('I could eat bananas all day', '', '')

In [ ]:
#maketrans()	Returns a translation table to be used in translations
txt = "Hello Sam!"
mytable = txt.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [ ]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = txt.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [ ]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = txt.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [ ]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(txt.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

In [ ]:
#lstrip()	Returns a left trim version of the string
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [ ]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

In [ ]:
#lower()	Converts a string into lower case
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

In [ ]:
#ljust()	Returns a left justified version of the string
txt = "banana"

x = txt.ljust(20)#Return a 20 characters long, left justified version of the word "banana"

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [ ]:
txt = "banana"

x = txt.ljust(20, "O")#letter "O" as the padding character

print(x)

bananaOOOOOOOOOOOOOO

In [ ]:
#join()	Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)#Join all items in a dictionary into a string, using a the word "TEST" as separator

print(x)

nameTESTcountry

In [ ]:
#isupper()	Returns True if all characters in the string are upper case
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [ ]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [ ]:
#istitle()	Returns True if the string follows the rules of a title
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [ ]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [ ]:
#isspace()	Returns True if all characters in the string are whitespaces
txt = "   "

x = txt.isspace()

print(x)

True

In [ ]:
txt = "   s   "

x = txt.isspace()#Check if all the characters in the text are whitespaces

print(x)

False

In [ ]:
#isprintable()	Returns True if all characters in the string are printable
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [ ]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()#Check if all the characters in the text are printable:

print(x)

False

In [ ]:
#isnumeric()	Returns True if all characters in the string are numeric
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [ ]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [ ]:
#islower()	Returns True if all characters in the string are lower case
txt = "hello world!"

x = txt.islower()

print(x)

True

In [ ]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [ ]:
#isidentifier()	Returns True if the string is an identifier
#A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_). A valid identifier cannot start with a number, or contain any spaces.

txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [ ]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [ ]:
#isdigit()	Returns True if all characters in the string are digits
txt = "50800"

x = txt.isdigit()

print(x)

True

In [ ]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for 

print(a.isdigit())
print(b.isdigit())

True
True

In [ ]:
#isdecimal()	Returns True if all characters in the string are decimals
txt = "\u0033" #unicode for 3

x = txt.isdecimal()

print(x)

True

In [ ]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

In [ ]:
#isalpha()	Returns True if all characters in the string are in the alphabet
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [ ]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

In [ ]:
#isalnum()	Returns True if all characters in the string are alphanumeric
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [ ]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

In [ ]:
#index()	Searches the string for a specified value and returns the position of where it was found
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("e")

print(x)

1

In [ ]:
txt = "Hello, welcome to my world."

x = txt.index("e", 5, 10)

print(x)

8

In [ ]:
txt = "Hello, welcome to my world."

print(txt.find("q"))#If the value is not found, the find() method returns -1, but the index() method will raise an exception
print(txt.index("q"))

-1

ValueError: ignored

In [ ]:
#format()	Formats specified values in a string
#The format() method formats the specified value(s) and insert them inside the string's placeholder.
#The placeholder is defined using curly brackets: {}
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)##named indexes
txt2 = "My name is {0}, I'm {1}".format("John",36)#numbered indexes
txt3 = "My name is {}, I'm {}".format("John",36)##empty placeholders

print(txt1)
print(txt2)
print(txt3)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36

**Booleans**

In [ ]:
#Booleans represent one of two values: True or False.
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [ ]:
#When you run a condition in an if statement, Python returns True or False
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [ ]:
#Evaluate Values and Variables:The bool() function allows you to evaluate any value, and give you True or False in return
print(bool("Hello"))
print(bool(15))

True
True

In [ ]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [ ]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [ ]:
#Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type
x = 200
print(isinstance(x, int))

True

In [ ]:
def myFunction() :        #execute code based on the Boolean answer of a function
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [ ]:
def myFunction() :          #Functions can Return a Boolean
  return True

print(myFunction())

True

**Operators**

In [ ]:
#Operators are used to perform operations on variables and values.
#Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators

**Python Arithmetic Operators**

In [ ]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
print(x - y)

x = 5
y = 3
print(x * y)

x = 12
y = 3
print(x / y)

x = 5
y = 2
print(x % y)#Modulus

x = 2
y = 5
print(x ** y) #same as 2*2*2*2*2#Exponentiation

x = 15
y = 2
print(x // y)#Floor division

8
2
15
4.0
1
32
7

In [ ]:
#Python Assignment Operators:#Assignment operators are used to assign values to variables

x = 5
print(x)

x = 5
x += 3  #x = x + 3
print(x)

x = 5
x -= 3  #x = x - 3
print(x)

x = 5
x *= 3  #x = x * 3
print(x)


x = 5
x /= 3
print(x)


x = 5
x%=3
print(x)


x = 5
x//=3
print(x)


x = 5
x **= 3
print(x)


x = 5
x &= 3
print(x)


x = 5
x |= 3
print(x)

x = 5
x ^= 3
print(x)


x = 5
x >>= 3
print(x)

x = 5
x <<= 3
print(x)

5
8
2
15
1.6666666666666667
2
1
125
1
7
6
0
40

**Python Comparison Operators**

In [1]:
#Comparison operators are used to compare two values
x = 5
y = 3
print(x == y)

x = 5
y = 3
print(x != y)

x = 5
y = 3
print(x > y)

x = 5
y = 3
print(x < y)

x = 5
y = 3
print(x >= y)

x = 5
y = 3
print(x <= y)

False
True
True
False
True
False

**Python Logical Operators**

In [2]:
#Logical operators are used to combine conditional statements
x = 5
print(x > 3 and x < 10)

x = 5
print(x > 3 or x < 4)

x = 5
print(not(x > 3 and x < 10))

True
True
False

**Python Identity Operators**

In [4]:
#Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

#is 	Returns True if both variables are the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)
print(x is y)
print(x == y)

#is not	Returns True if both variables are not the same object
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is not z)
print(x is not y)
print(x != y)

True
False
True
False
True
False

**Python Membership Operators**

In [5]:
#Membership operators are used to test if a sequence is presented in an object

#in 	Returns True if a sequence with the specified value is present in the object
x = ["apple", "banana"]
print("banana" in x)

#not in	Returns True if a sequence with the specified value is not present in the object
x = ["apple", "banana"]
print("pineapple" not in x)

True
True

**Python Bitwise Operators**

In [ ]:
#Bitwise operators are used to compare (binary) numbers
& 	AND	Sets each bit to 1 if both bits are 1
|	OR	Sets each bit to 1 if one of two bits is 1
 ^	XOR	Sets each bit to 1 if only one of two bits is 1
~ 	NOT	Inverts all the bits
<<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off
>>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off