In [ ]:
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both unordered and unindexed.

Sets are written with curly brackets.

In [1]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)
#Sets are unordered, so you cannot be sure in which order the items will appear.

{'cherry', 'apple', 'banana'}

In [ ]:
Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Sets are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [2]:
#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [3]:
#Get the Length of a Set
#To determine how many items a set has, use the len() method
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [4]:
#Set Items - Data Types
#Set items can be of any data type:
#String, int and boolean data types:

set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'apple', 'banana'}
{1, 3, 5, 7, 9}
{False, True}

In [5]:
#A set can contain different data types
#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

In [6]:
#type()
#From Python's perspective, sets are defined as objects with the data type 'set'
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [7]:
#The set() Constructor
#It is also possible to use the set() constructor to make a set
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

In [8]:
#Access Set Items
#You cannot access items in a set by referring to an index or a key.

#But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [9]:
#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
Change Items
Once a set is created, you cannot change its items, but you can add new items.

In [10]:
#Add Set Items
#Once a set is created, you cannot change its items, but you can add new items.

#To add one item to a set use the add() method.
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

In [26]:
#Add an element to the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'apple', 'banana', 'orange'}

In [27]:
#Try to add an element that already exists:

fruits = {"apple", "banana", "cherry"}

fruits.add("apple")

print(fruits)

{'cherry', 'apple', 'banana'}

In [11]:
#Add Sets
#To add items from another set into the current set, use the update() method.
#Add elements from tropical and thisset into newset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'cherry', 'apple', 'banana', 'pineapple', 'mango'}

In [13]:
#Add Any Iterable
#The object in the update() method does not have be a set, it can be any iterable object (tuples, lists, dictionaries et,).
#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'kiwi', 'orange', 'banana'}

In [14]:
#Remove Set Items
#Remove Item
#To remove an item in a set, use the remove(), or the discard() method.

#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)
#If the item to remove does not exist, remove() will raise an error.

{'cherry', 'apple'}

In [15]:
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)
# If the item to remove does not exist, discard() will NOT raise an error.

{'cherry', 'apple'}

In [16]:
#You can also use the pop() method to remove an item, but this method will remove the last item.
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [17]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [28]:
#Remove all elements from the fruits set:

fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [18]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: ignored

In [19]:
#Loop Sets
#You can loop through the set items by using a for loop
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

In [20]:
#Join Sets
#Join Two Sets
#There are several ways to join two or more sets in Python.

#You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [21]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [ ]:
Both union() and update() will exclude any duplicate items.

In [ ]:
Keep ONLY the Duplicates
The intersection_update() method will keep only the items that are present in both sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)

In [22]:
#Keep the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [35]:
#Remove the items that is not present in both x and y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [36]:
#Compare 3 sets, and return a set with items that is present in all 3 sets:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [23]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [34]:
#Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [24]:
#Keep All, But NOT the Duplicates
#The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.
#Keep the items that are not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [25]:
#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
#Return a set that contains all items from both sets, except items that are present in both:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'google', 'banana'}

In [29]:
#Copy
#Copy the fruits set:

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'apple', 'banana'}

In [30]:
#Set difference() Method
#Return a set that contains the items that only exist in set x, and not in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'cherry', 'banana'}

In [31]:
#Return a set that contains the items that only exist in set y, and not in set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'google', 'microsoft'}

In [32]:
#difference_update()	Removes the items in this set that are also included in another, specified set
#Remove the items that exist in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [ ]:
The difference_update() method removes the items that exist in both sets.

The difference_update() method is different from the difference() method, because the difference() method returns a new set,
without the unwanted items, and the difference_update() method removes the unwanted items from the original set.

In [33]:
#discard()	Remove the specified item
#Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

#The discard() method removes the specified item from the set.

#This method is different from the remove() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not

{'cherry', 'apple'}

In [38]:
#isdisjoint()	Returns whether two sets have a intersection or not
#Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [39]:
#Return False if one ore more items are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [42]:
#issubset()	Returns whether another set contains this set or not
#Return True if all items set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [41]:
#Return False if not all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

In [44]:
#issuperset()	Returns whether this set contains another set or not
#Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [45]:
#Return False if not all items in set y are present in set x:

x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

In [46]:
#pop()	Removes an element from the set
#Remove a random item from the set:

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'apple', 'banana'}

In [47]:
#Return the removed element:

fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

cherry

In [48]:
#remove()	Removes the specified element
#Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)
The remove() method removes the specified element from the set.

This method is different from the discard() method, because the remove() method will raise an error if the specified item does not exist, and the discard() method will not.

{'cherry', 'apple'}

In [ ]:
#symmetric_difference()	Returns a set with the symmetric differences of two sets

In [ ]:
#symmetric_difference_update()	inserts the symmetric differences from this set and another

In [50]:
#union()	Return a set containing the union of sets
#Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'apple', 'banana', 'microsoft', 'google'}

In [51]:
#Unify more than 2 sets:

x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'d', 'b', 'f', 'c', 'a', 'e'}

In [49]:
#update()	Update the set with the union of this set and others
#Insert the items from set y into set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'apple', 'banana', 'microsoft', 'google'}

In [52]:
#symmetric_difference_update()
#symmetric_difference()	Returns a set with the symmetric differences of two sets
#Remove the items that are present in both sets, AND insert the items that is not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [53]:
#symmetric_difference()	Returns a set with the symmetric differences of two sets

#Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'google', 'banana'}