In [ ]:
Arrays are used to store multiple values in one single variable

In [1]:
#Create an array containing car names:

cars = ["Ford", "Volvo", "BMW"]
print(cars)

['Ford', 'Volvo', 'BMW']

In [2]:
#Access the Elements of an Array
#Get the value of the first array item:

x = cars[0]
print(x)

Ford

In [4]:
#Modify the value of the first array item:

cars[0] = "Toyota"
print(cars)

['Toyota', 'Volvo', 'BMW']

In [5]:
#The Length of an Array
#Use the len() method to return the length of an array (the number of elements in an array).
#Return the number of elements in the cars array:

x = len(cars)
print(x)

3

In [6]:
#Looping Array Elements
#You can use the for in loop to loop through all the elements of an array.
#Print each item in the cars array:

for x in cars:
  print(x)

Toyota
Volvo
BMW

In [7]:
#Adding Array Elements
#You can use the append() method to add an element to an array
#Add one more element to the cars array:

cars.append("Honda")
print(cars)

['Toyota', 'Volvo', 'BMW', 'Honda']

In [11]:
#Add an element to the fruits list
fruits = ["apple", "banana", "cherry"]

fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [12]:
#Add a list to a list:

a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

In [8]:
#Removing Array Elements
#You can use the pop() method to remove an element from the array.
#Delete the second element of the cars array:

cars.pop(1)
print(cars)

['Toyota', 'BMW', 'Honda']

In [10]:
#use the remove() method to remove an element from the array.
#Delete the element that has the value "Volvo":

cars.remove("Honda")
print(cars)
#The list's remove() method only removes the first occurrence of the specified value.

['Toyota', 'BMW']